<!DOCTYPE html>
<html>
<head>
    <title>Upload CSV</title>
</head>
<body>
    <h1>Upload CSV File</h1>
    <form id="csv-upload-form"  method="POST" enctype="multipart/form-data">
        <input type="file" name="csv_file">
        <button id="submit" type="submit">Upload</button>
    </form>
</body>
</html>
<script>
    const form = document.getElementById('csv-upload-form');
    document.getElementById('submit').addEventListener('click', async () => {
        event.preventDefault();
        const formData = new FormData(form);
        try {
            const response = await fetch('/upload',{
                method: 'POST',
                body: formData,
            });  // Replace with your Flask endpoint
            const blob = await response.blob();
            console.log(response)
            const link = document.createElement('a');
            link.href = window.URL.createObjectURL(blob);
            link.download = 'data.zip';
            link.click();
        } catch (error) {
            console.error('Error downloading zip:', error);
        }
    });
    </script>
